
body{margin:0;font-family:Arial}
.header{
 background:#1f4f82;
 color:white;
 padding:10px;
 text-align:center;
 font-size:18px;
}
#map{height:90vh;width:100%}
.legend{
 background:white;
 padding:10px;
 line-height:18px;
}
.legend i{
 width:18px;
 height:18px;
 float:left;
 margin-right:8px;
 opacity:0.7;
}
