body{margin:0;font-family:Arial}
h2{text-align:center;margin:10px}
#map{width:100%;height:90vh}
.legend{background:white;padding:10px;border-radius:5px}
.legend i{width:14px;height:14px;float:left;margin-right:8px}